{% extends "SNDLLPlatformBundle:Contact:contactlayout.html.twig" %}

{% block title %}
    {{ parent() }} - Supprimer
{% endblock %}

{% block body %}
    {{ parent() }}
    <h2>Supprimer un contact</h2>

    <p>
        Etes-vous certain de vouloir supprimer le contact "{{ contact.nom }} {{ contact.prenom }}" ?
    </p>

    <form action="{{ path('sndll_contact_delete', {'con_id': contact.id}) }}" method="post">
        <a href="{{ path('sndll_etablissement_view', {'eta_id': contact.etablissement.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la fiche
        </a>

        <input type="submit" value="Supprimer" class="btn btn-danger" />

        {{ form_rest(form) }}
    </form>

{% endblock %}