{% extends "SNDLLPlatformBundle:Cotisation:cotisationlayout.html.twig" %}

{% block title %}{{ parent() }} - Fiche{% endblock %}

{% block body %}
	{{ parent() }}
	<h2>Adhésion n° {{ cotisation.id }}</h2>
	{% if date(cotisation.datefin) >= date() and date(cotisation.datedebut) <= date() %}
		<div class="alert alert-success" role="alert">
			<p>
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				Cette cotisation est valide jusqu'au {{ cotisation.datefin|date('d/m/Y') }} !
			</p>
		</div>
	{% else %}
		<div class="alert alert-warning" role="alert">
			<p>
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				Cette cotisation n'est pas en cours !
			</p>
		</div>
	{% endif %}

    {% if cotisation.adherent.etablissement.sacem == null %}
        <div class="alert alert-warning" role="alert">
            <p>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Cette cotisation n'est liée à aucun centre sacem !
            </p>
        </div>
    {% endif %}

	<div class="row">
		<div id="btn-print-cot" class="btn-group col-md-3 col-md-offset-9" role="group">
			<button  type="button" class="btn btn-default dropdown-toggle col-md-12" data-toggle="dropdown" aria-expanded="false">
				<i class="glyphicon glyphicon-print"></i>
				Générer...
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="{{ path('sndll_cotisation_facture_print', { 'cot_id': cotisation.id }) }}">La Facture</a></li>
                {% if cotisation.adherent.etablissement.sacem %}<li><a href="{{ path('sndll_ogc_certificat_sacem_print', { 'cot_id': cotisation.id }) }}">Le certificat d'adhésion Sacem</a></li>{% endif %}
                <li><a href="{{ path('sndll_ogc_certificat_spre_print', { 'cot_id': cotisation.id }) }}">Le certificat d'adhésion Spre</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Informations Cotisation</div>
				<div class="panel-body">
					<p>
						Id de la cotisation : {{ cotisation.id }}
					</p>
					<p>
						Date de début : {{ cotisation.datedebut|date('d/m/Y') }}
					</p>
					<p>
						Date de fin : {{ cotisation.datefin|date('d/m/Y') }}
					</p>
					<p>
						Type d'adhésion : {{ cotisation.typeadhesion.libelle }}
					</p>
					<p>
						Montant de la cotisation : {{ cotisation.prixcotisationttc }} €
					</p>
					<p>
						Mode de règlement : {{ cotisation.modereglement.libelle }}
					</p>
					<p>
						Date de règlement : {{ cotisation.datereglement|date('d/m/Y') }}
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">Informations liées</div>
				<div class="panel-body">
					<p>
						Code Adhérent : <a href="{{ path('sndll_etablissement_view', {'eta_id': cotisation.adherent.etablissement.id}) }}">{{ cotisation.adherent.codeadherent }}</a>
					</p>
					<p>
						Etablissement : {{ cotisation.adherent.etablissement.enseigne }}
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div id="btn-retour-liste-cot" class="btn-group col-md-3" role="group">
			<a href="{{ path('sndll_cotisation') }}" class="btn btn-default col-md-12">
				<i class="glyphicon glyphicon-chevron-left"></i>
				Retour à la liste
			</a>
		</div>

		<div id="btn-modif-cot" class="btn-group col-md-3" role="group">
			<a href="{{ path('sndll_cotisation_edit', {'cot_id': cotisation.id}) }}" class="btn btn-primary col-md-12">
				<i class="glyphicon glyphicon-edit"></i>
				Modifier la cotisation
			</a>
		</div>

		<div id="btn-supprimer-cot" class="btn-group col-md-4 col-md-offset-2" role="group">
			<a href="{{ path('sndll_cotisation_delete', {'cot_id': cotisation.id}) }}" class="btn btn-danger col-md-12">
				<i class="glyphicon glyphicon-trash"></i>
				Supprimer la cotisation
			</a>
		</div>
	</div>

{% endblock %}