{% extends "SNDLLPlatformBundle:Etablissement:etablissementlayout.html.twig" %}

{% block title %}
    {{ parent() }} - Regénérer mot de passe
{% endblock %}

{% block body %}
    {{ parent() }}
    <h2>Regénérer mot de passe</h2>

    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Regénérer le mot de passe de cet adhérent supprimera l'ancien mot de passe définitivement.
        </p>
    </div>
    <p>
        Etes-vous certain de vouloir regénérer le mot de passe de l'adhérent "{{ adherent.codeadherent }}" ?
    </p>

    <form action="{{ path('sndll_wordpress_renew_password', {'adh_code': adherent.codeadherent}) }}" method="post">
        <a href="{{ path('sndll_etablissement_view', {'eta_id': adherent.etablissement.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la fiche
        </a>

        <input type="submit" value="Regénérer" class="btn btn-warning" />

        {{ form_rest(form) }}
    </form>

{% endblock %}